.desktop-content {
	#menu {
		position: absolute;
		bottom: 5%;
		width: 900px;
	}
	#menu ul.menu {
		list-style-type: none;
	}
	#menu ul.menu li {
		display: inline;
		margin-left: 20px;
	}
	#menu ul.menu li a {
		color: #bcb9b3;
		cursor: pointer;
		font-size: 32px;
		font-style: italic;
		font-family: Arial;
		text-decoration: none;
	}

	#menu ul.menu li a:hover {
		color: #820101;
	}

	/*-----------------------
	LOGO
	------------------------*/

	#logo {
		position: absolute;
		background: url(../../assets/images/logo_sm.png);
		width: 160px;
		height: 160px;
		right: 80px;
		bottom: 40px;
	}
	.impressum {
	    margin-top: 170px;
	    margin-left: 42px;
	}
	.impressum a {
		color: #bcb9b3;
		cursor: pointer;
	    font-size: 16px;
	    font-style: italic;
	    font-family: Arial;
	    text-decoration: none;
	}
	.impressum a:hover {
		color: #820101;
	}

	/* -------------------
	VERLEIH UND KONTAKT
	----------------------*/

	#text-overlay {
		position: absolute;
		top: 25%;
		height: 270px;
		width: 100%;
		background-color: #fff;
		opacity: 0.8;
		text-align: center;
		padding: 15px 0;
	}
	#text-overlay .map {
		display: inline-block;
		width: 240px;
		height: 240px;
		background: url(../../assets/images/map.png);
	}
	#text-overlay .textbox {
		text-align: left;
		font-size: 16px;
		color: #000;
		width: 470px;
		display: inline-block;
		margin-left: 10px;
	}
	#text-overlay .textbox h1 {
		color: #820101;
		font-style: italic;
		font-size: 22px;
		line-height: 26px;
	}
	#text-overlay .textbox span {
		font-style: italic;
		font-size: 20px;
		display: block;
		line-height: 24px;
	}
	#text-overlay .textbox span a {
		color: #000;
	}
	#text-overlay .textbox span a:hover {
		color: #820101;
	}

	/* --------------------
	 IMPRESSUM
	---------------------*/

	#impressum-overlay {
		position: absolute;
		top: 22%;
		min-height: 315px;
		width: 100%;
		background-color: #fff;
		opacity: 0.8;
		text-align: center;
		padding: 15px 0 0;
		padding-bottom: 10px;
	}
	#impressum-overlay .textbox {
		text-align: left;
		font-size: 16px;
		color: #000;
		width: 60%;
		display: inline-block;
		margin-left: 10px;
	}
	#impressum-overlay .textbox h1 {
		color: #820101;
		font-style: italic;
		font-size: 22px;
		line-height: 30px;
	}
	#impressum-overlay .textbox h2 {
		color: #820101;
		font-style: italic;
		font-size: 20px;
		line-height: 28px;
	}
	#impressum-overlay .textbox span {
		font-style: italic;
		font-size: 20px;
		display: block;
		line-height: 28px;
	}
	#impressum-overlay .textbox span a {
		color: #000;
	}
	#impressum-overlay .textbox span a:hover {
		color: #820101;
	}

	/* --------------------
	 SLIDER
	---------------------*/

	.slider {
	    width: 100%;
	    height: 85%;
	    overflow: hidden;
	    position: absolute;
	    top: 0;
	    background: #e6e6e6;
	}

	.slide {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: auto;
	}

	.arrow {
	    position: absolute;
	    z-index: 1002;
	    display: block;
	    top: 50%;
	    margin-top: -35px;
	    width: 36px;
	    height: 71px;
	    outline: none;
	    cursor: pointer;
	    background: url(../../assets/images/blank.gif) no-repeat;
	}

	.arrow.prev {
	    opacity: 0.2;
	    left: 20px;
	    background-image: url(../../assets/images/paddle_prev_999.png);
	    transition: 0.2s linear all;
	}

	.arrow.next {
	    opacity: 0.2;
	    right: 20px;
	    background-image: url(../../assets/images/paddle_next_999.png);
	    transition: 0.2s linear all;
	}

	.arrow.prev:hover {
	    opacity: 1;
	    background-image: url(../../assets/images/paddle_prev_fff.png);
	}

	.arrow.next:hover {
	    opacity: 1;
	    background-image: url(../../assets/images/paddle_next_fff.png);
	}



	/*---------------------------------------------------------
	NAV
	---------------------------------------------------------*/

	.nav {
	    text-align: center;
	    display: block;
	    position: absolute;
	    z-index: 1002;
	    left: 0;
	    bottom: -4px;
	    right: 0;
	    height: 48px;
	}

	.nav .wrapper {
	    margin: 0 auto;
	    width: 100%;
	    padding: 1em 0 .8em;
	}

	.nav ul {
	    margin: 0;
	    width: 100%;
	}

	.nav .dot, .nav .dot a {
	    display: inline-block;
	    zoom: 1;
	}

	.dots .dot {
	    position: relative;
	    margin: 0 8px;
	    width: 12px;
	    height: 12px;
	}

	.dots .dot a {
	    position: absolute;
	    top: 2px;
	    left: 2px;
	    width: 6px;
	    height: 6px;
	    text-indent: 100%;
	    white-space: nowrap;
	    overflow: hidden;
	    background: #FFF;
	    border: 1px solid transparent;
	    outline: none;
	    -webkit-box-shadow: none;
	    -moz-box-shadow: none;
	    box-shadow: none;
	    -webkit-border-radius: 50%;
	    -moz-border-radius: 50%;
	    border-radius: 50%;
	    -webkit-transition: background-color 0.25s, border-color 0.25s;
	    -moz-transition: background-color 0.25s, border-color 0.25s;
	    transition: background-color 0.25s, border-color 0.25s;
	}

	.dots .dot a.active {
	    border-color: #FFF;
	    background-color: transparent;
	}


}
