<div id="sp-nav">
    <div class="topcoat-list-container">
        <ul class="topcoat-list">
            <li class="topcoat-list-item" ui-sref=".home" ng-click="$spMenu.toggle()">Home</li>
            <!--<li class="topcoat-list-item" ui-sref=".galerie" ng-click="$spMenu.toggle()">Galerie</li>-->
            <li class="topcoat-list-item" ui-sref=".floristik" ng-click="$spMenu.toggle()">Floristik</li>
            <li class="topcoat-list-item" ui-sref=".dekoration" ng-click="$spMenu.toggle()">Dekoration</li>
            <!--<li class="topcoat-list-item" ui-sref=".verleih" ng-click="$spMenu.toggle()">Verleih</li>-->
            <li class="topcoat-list-item" ui-sref=".kontakt" ng-click="$spMenu.toggle()">Kontakt</li>
        </ul>
    </div>
</div>
<div id="sp-page">
    <div class="topcoat-navigation-bar">
        <div class="topcoat-navigation-bar__item left quarter">
            <a class="topcoat-icon-button--quiet" href="" ng-click="$spMenu.toggle()">
                <span class="topcoat-icon topcoat-icon--menu-stack"></span>
            </a>
        </div>
        <div class="topcoat-navigation-bar__item center half">
            <h1 class="topcoat-navigation-bar__title">Diamant-Dekowelt</h1>
        </div>
        <div class="topcoat-navigation-bar__item right quarter">
            <a class="topcoat-icon-button--quiet">
                <span class="topcoat-icon topcoat-icon--edit"></span>
            </a>
        </div>
    </div>
    <div id="logo" ui-view="logo"></div>
    <div id="content" ui-view="content"></div>
</div>