<div class="container slider">
    <img ng-repeat="slide in home.slides" class="slide slide-animation"
         ng-swipe-right="home.nextSlide()" ng-swipe-left="home.prevSlide()"
         ng-hide="!home.isCurrentSlideIndex($index)" ng-src="{{slide.src}}">

    <a class="arrow prev" href="#" ng-click="home.nextSlide()"></a>
    <a class="arrow next" href="#" ng-click="home.prevSlide()"></a>
    
    <!--<nav class="nav">
        <div class="wrapper">
            <ul class="dots">
                <li class="dot" ng-repeat="slide in home.slides">
                    <a href="#" ng-class="{'active':home.isCurrentSlideIndex($index)}"
                       ng-click="home.setCurrentSlideIndex($index);">{{slide.description}}</a></li>
            </ul>
        </div>
    </nav>-->

</div>